<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Whatmeowmeow
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToTransactionInputPage()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Whatmeowmeows</ion-title>
      <ion-button (click)="goToTransactionInputPage()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <ion-datetime-button datetime="datetime" (click)="openModal()"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true" [isOpen]="isModalOpen">
      <ng-template>
        <ion-datetime id="datetime" presentation="date" display-format="YYYY-MM-DD" [(ngModel)]="selectedDate" (ionChange)="onDateChange()"></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-list [inset]="true">
      <ion-item *ngFor='let transaction of transactionList'>
        <ion-label>{{ transaction.type }}</ion-label> <ion-label class="ion-text-right">{{ transaction.amount }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-content>
